.input-field {
  display: flex;
  flex-direction: 'row';
  padding-left: 20px;
  padding-right: 20px;
  color: #424242;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.error-message {
  color: red;
  font-size: 12px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.field-label {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #424242;
  font-size: 14px;
}

.required-star {
  color: red
}

.space5 {
  padding: 5px
}

.input-box {
  border: 0.4px solid #1fc8db;
  border-radius: 2px;
  box-shadow: 1px 10px 8px -11px #bdbdbd;
  height: 23px;
}