.input-field {
  display: flex;
  flex-direction: 'row';
  padding-left: 20px;
  padding-right: 20px
}

.error-message {
  color: red;
  font-size: 12px;
}

.field-label {
  color: black
}

.required-star {
  color: red
}

.space3 {
  padding: 3px
}